<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allura&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigusto</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="videoContainer">
        <video autoplay muted loop id="videoBG" speed="3.0">
            <source src="img/video (2160p).mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="overlay"></div>
    </div>
    <section id="events" class="section">
        <h3>Upcoming Events</h3>
        <div class="event-container">
            <div class="event">
                <img src="img/Gourmet-seafood-platter.jpg" alt="taste trek">
                <h6><br>Taste Trek: A Journey Through Culinary Traditions</h6>
                <p>Date: April 1, 2024</p>
                <p>Location: GMS Road, Dehradun, Uttarakhand</p>
                <p>Description: Embark on a flavorful journey across continents with each dish as your 
                    passport to global gastronomy.</p>
                <button class="view-details-btn">Book Tickets</button>
            </div>
            <div class="event">
                <img src="img/food-world.jpg" alt="globalgastronomy gala">
                <h6><br>Global Gastronomy Gala</h6>
                <p>Date: March 23, 2024</p>
                <p>Location: Indira Tulip Garden, Kashmir </p>
                <p>Description: A celebration of world cuisines featuring dishes from different 
                    countries and regions.</p>
                <button class="view-details-btn">Book Tickets</button>
            </div>
            <div class="event">
                <img src="img/BrisketPrep_WEB_B2_9300-copy-1024x683.jpg" alt="farm to table feast">
                <h6><br>Farm-to-Table Feast</h6>
                <p>Date: April 2, 2024</p>
                <p>Location: Kovalam Beach, Kerala</p>
                <p>Description: A showcase of locally sourced ingredients transformed into delectable dishes 
                    by talented chefs.</p>
                <button class="view-details-btn">Book Tickets</button>
            </div>
            <div class="event">
                <img src="img/Mocktails-Website.jpg" alt="savor n sip">
                <h6><br>Savor & Sip Soiree</h6>
                <p>Date: March 29, 2024</p>
                <p>Location: Tso Lhamo Lake, Gangtok, Sikkim</p>
                <p>Description: Elevate your palate with an evening of exquisite flavors and carefully curated 
                    libations, creating a symphony of taste.</p>
                <button class="view-details-btn">Book Tickets</button>
            </div>
            <div class="event">
                <img src="img/Insadong-Bimbibap.jpg" alt="mystery menu">
                <h6><br>Mystery Menu Masquerade</h6>
                <p>Date: March 30, 2024</p>
                <p>Location: Elephanta Caves, Mumbai, Maharashtra</p>
                <p>Description: Indulge in an evening of clandestine culinary delights, where each dish is a 
                    delicious surprise behind the mask.</p>
                <button class="view-details-btn">Book Tickets</button>
            </div>
            <div class="event">
                <img src="img/wine.jpg" alt="wine n dine">
                <h6><br>Wine and Dine Soiree</h6>
                <p>Date: April 10, 2024</p>
                <p>Location: Fort William, Kolkata, West Bengal</p>
                <p>Description: An elegant evening pairing exquisite wines with gourmet cuisine for a 
                    truly indulgent experience.</p>
                <button class="view-details-btn">Book Tickets</button>
            </div>
        </div>
    </section>
    <section id="contact" class="section" style="text-align: center; background-color: rgba(255, 255, 255, 0.189); color: white;">
        <h3>Contact Us</h3>
        <p><BR>Have questions or want to book a reservation? Reach out to us!</p>
        <a href="mailto:customernavigusto@outlook.com">customernavigusto@outlook.com</a></br>
        <a href="tel:+91 88716 28970">+91 88716 28970</a></br>
    </section>
</main>

<footer>
    <p>&copy; 2024 Navigusto. All rights reserved.</p>
</footer>
<script>
function toggleMenu() {
  document.body.classList.toggle('menu-open');
}
</script>

</body>
</html>

